.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
  padding: 0;
  margin: 0;
  background-color: #AAAAAA;
  overflow: hidden;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.titleText {
  font-size: 3em;
  font-weight: bold;
}

.guessHistory {
  position: absolute;
  left: 55%;
  top: 25%;
  width: 780px;
}